*{
    padding: 0;
    margin: 0;
}
/* header css */
.logo-nav{
    background-color:#00a8cc;
    display: flex;
    /* position: sticky; 
    top: 0; */
}
.logo{
    flex: 1;
}
.logo i{
    padding: 8px;
    font-size: 30px;
}
.logo h1{  
    margin-top: 8px;
    padding: 20px 20px;
    color:white;
    font-size: 30px;
}
.logo h1 span{
    font-family: cursive;
    font-weight: 200;
}
.nav{
    flex: 1;
    
}
ul{
    text-align: right;
}
.nav ul li{
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    text-align:right;
    font-size: 15px;
}
.nav ul li a{
    text-decoration: none;
    color:white;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.active,.nav ul li a:hover{
    border-bottom: 2px solid whitesmoke;
    
}
/* main-content */

.main-content {
    height: 1500px;
    width: 100%;
    background-color: #bbbbbb;
}
.sign-out{
    /* position: sticky;
    top: 94px; */
    display: flex;
    background-color: #758184;
    padding: 10px;
    height: 50px;
}
.name{
    flex: 1;
    text-align: left;
}
.button{
    flex: 1;
    text-align: right;
}
.main-content h4{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    position: sticky;
    top: 95px;
}
.button input[type="submit"]{
    padding:5px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border-radius: 15px;
    margin: 5px;
    background: transparent;
    color: whitesmoke;
    border: none;
}
.main-content i{
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
}
.main-content .form-container{
    background-color: whitesmoke;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;

}
.form-container form{
    height: auto;
    padding: 20px;
}
.form-container h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
}

.school{
    display: none;
}
.college{
    display: none;
}
.primary,.secondary,.higher-secondary{
    display: none;
}
.primary-section{
    display: flex;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 1;
}
.col-3{
    flex: 1;
}
.col-4{
    flex: 1;
}
.BCA,.BCOM,.MSC-IT,.BBA,.BSC,.primary,.secondary,.higher-secondary{
    display: none;
    padding: 10px;
    background-color: e8f9e9;
    margin: 10px;

}
.form-container span{
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 15px 15px;
}
.form-container label{
    padding: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 8px;
}
select{
    width: 30%;
    padding: 2px;
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     -o-appearance: none;
}
input[type="radio"]{
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    
}
input[type="number"]{
    width: 30%;
    padding: 2px;
    margin-bottom: 10px;
    outline: none;
    font-size: 15px;
}
input[type="text"]{
    width: 30%;
    padding: 3px;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
}
input[type="checkbox"]{
    margin: 8px;
}
textarea{
    width: 100%;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
label[for="Tagline"]{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 10px;
}
label[for="facilities"]{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-container .primary-section{
    margin: 10px;
    padding: 3px;
}
.errors{
    color: red;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container .primary-section input[type="checkbox"]{
    margin: 0px;
}
.form-container .primary-section label{
    margin-left: 0px;
}
.form-container [type="submit"]{
    outline: none;
    background-color:#00a8cc;
    border: none;
    padding: 10px;
    width: 30%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container [type="reset"]{
    outline: none;
    background-color:#758184;
    border: none;
    padding: 10px;
    width: 30%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container [type="reset"]:hover, .form-container [type="submit"]:hover{
    box-shadow: 10px 10px 8px #888888;

}
/* footer css */
.teacher-section{
    background-color:#758184;
    position: relative;
    top: 0;
    bottom:0;
}
.teacher-section ul{

    display: flex;
    height:8vh;
}
.teacher-section ul li{
    flex: 1;
    text-align: center;
    list-style: none;
    padding: 20px;
    
}
.teacher-section ul li i{
font-size: 30px;
color: whitesmoke;
}
.teacher-section h3{
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;

}
.teacher-section h4{
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
}